<div class='p-4'>
    <div class="flex justify-center">
        <h3>{{ post.title }}</h3>
    </div>
    <br>
    
    <p>{{ post.text|nl2br|raw }}</p>

    <p class="text-right text-blue-800 dark:text-blue-200"><small>{{ post.created|date('H:i') }} - {{ post.created|date('d/m/y') }}</small></p>

    <a href='{{ path('micro_post_comment', {post: post.id}) }}' class='text-sm text-gray-500 dark:text-gray-300'>add comment</a>

    <p>💗<span class='px-2 rounded-md bg-gray-200 dark:bg-gray-700'>{{ post.comments.count() }}</span></p>

    {% for comment in post.comments %}
        <div class='text-sm text-gray-800 dark:text-gray-400'>
            <div class='rounded-full text-3xl w-8 ring-2 ring-white dark:ring-gray-600 mr-2'></div>
            <p>{{ comment.text }}</p>
        </div>
    {% endfor %}
</div>