{% extends 'base.html.twig' %}

{% block title %}{% set title_form = update ?? 'Add Post' %}{{ title_form }}{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
<div class='flex items-center justify-center mt-4'>
    {{ form_start(form) }}

    <div>{{ form_errors(form) }}</div>

    <div>
        {{ form_label(form.title, 'Enter the title') }}
    </div>
    <div>
        {{ form_widget(form.title, {'attr': {'class': 'rounded-md', 'style': 'color: gray'}}) }}
    </div>

    <div>
        {{ form_label(form.text, 'Fill your post') }}
    </div>
    <div>
        {{ form_widget(form.text) }}
    </div>

    <div class="flex">
        <div class="flex-grow"></div>
        <div>
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-1 -mb-2">
                Save
            </button>
        </div>
    </div>

    {{ form_end(form) }}
</div>

{% endblock %}
