{% extends 'base.html.twig' %}

{% set edit_or_create = update ?? 'New Post' %}

{% block title %}
    {{ edit_or_create }} {{ form.vars.value.title }}
{% endblock %}

{% block bread %}
    {{ edit_or_create }} {{ form.vars.value.id }}
    {% if attribute(_context, 'update') is defined or attribute(_context, 'comment') is defined %}
        <a style='color:red; margin-left:15px;' href="{{ path('micro_post_show', {id: post.id}) }}">⛔Back to the Post</a>
    {% endif %}
{% endblock %}


{% block body %}
    {% if attribute(_context, 'update') is defined or attribute(_context, 'comment') is defined %}
        {{ include('micro_post/_add_form.html.twig', {post: post}) }}
    {% else %}
        {{ include('micro_post/_add_form.html.twig') }}
    {% endif %}
{% endblock %}
