{% extends 'base.html.twig' %}

{% set recents_only = attribute(_context, 'recents') is defined ? true : false %}

{% block title %}
    {{ recents_only ? 'Recents Posts' : 'All Posts' }}
{% endblock %}

{% block bread %}
    {{ recents_only ? '➡️Latests' : '➡️All Posts' }}
{% endblock %}

{% block body %}
    <div class='grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-6 p-4'>
    {% if posts|length > 0 %}
        {% for post in posts %}
            <div class='cards block w-full border rounded p-4 shadow-lg' style="background-color: #0717B4">
                <a href="{{ path('micro_post_show', { id: post.id }) }}">
                    <p class='titles_cards pb-3 text-xl text-center font-semibold' style='color:#DD8507'>{{ post.title }}</p>
                </a>
                <p class='text-x0 text-gray-600'>
                    {% if post.text|length > displayed_text_characters %}
                        {% set truncatedText = post.text|slice(0, displayed_text_characters - 3) %}
                        {{ truncatedText }}...
                    {% elseif post.text|length > 0  %}
                        {{ post.text }}
                    {% else %}
                        🚧There is no content yet.</p>
                    {% endif  %}
                </p>
                {% if attribute(_context, 'recents') is defined %}
                    {{ include('micro_post/comments.html.twig', {post: post}) }}
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <p style='color:red'>There is no post to show yet.</p>
    {% endif %}
</div>

{% endblock %}
