{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block bread %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class='w-full md:w-2/3 mx-auto mb-4 flex justify-between items-center'>
            <div class="w-full md:w-2/3 mx-auto text-red-600" role="alert">{{ flash_error }}</div>
        </div>
    {% endfor %}

    {{ form_errors(registrationForm) }}

    <div class="mx-auto w-full sm:w-2/3 md:w-1/2">
    {{ form_start(registrationForm, {'attr': {'class': 'mx-12'}}) }}
        <div class='text-xl'>
            Basic Information
        </div>
        <div class='text-gray-500 mb-4 pb-4 border-b border-gray-300'>
            Enter your credentials
        </div>
            <div>
                {{ form_label(registrationForm.email, 'Email', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-400 font-medium'}}) }}
                {{ form_widget(registrationForm.email, {'attr': {'class': 'block w-full shadow-sm border-gray-900 rounded-md border dark:border-transparent dark:text-gray-800 p-2 mt-1 mb-2', 'tabindex': '1'}}) }}
                {{ form_errors(registrationForm.email) }}
            </div>

            <div>
                {{ form_label(registrationForm.plainPassword.first, 'Password', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-400 font-medium'}}) }}
                {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'block w-full shadow-sm border-gray-900 rounded-md border dark:border-transparent dark:text-gray-800 p-2 mt-1 mb-2', 'tabindex': '1'}}) }}
                {{ form_errors(registrationForm.plainPassword.first) }}
            </div>
            <div>
                {{ form_label(registrationForm.plainPassword.second, 'Repeat it', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-400 font-medium'}}) }}
                {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'block w-full shadow-sm border-gray-900 rounded-md border dark:border-transparent dark:text-gray-800 p-2 mt-1 mb-2', 'tabindex': '1'}}) }}
                {{ form_errors(registrationForm.plainPassword.second) }}
            </div>

            <div>
                {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'h-4 w-4 rounded border-gray border text-indogo-300 mr-2'}}) }}
                {{ form_label(registrationForm.agreeTerms, 'Agree to terms', {'label_attr': {'class': 'text-sm text-gray-700 dark:text-gray-300 font-medium'}}) }}
            </div>
            
            <hr>
            <div class='text-xl'>
                Your profile
            </div>
            <div class='text-gray-500 mb-4 pb-4 border-b border-gray-300'>
                Share some details about yourself<br><small><em>optional and addable later</em></small>
            </div>

            {{ include('settings_profile/_profile_form.html.twig', {form: registrationForm.userProfile }) }}
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
